@font-face {
    font-family: 'KHNPHDotfR';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KHNPHDotfR.eot);
    src: url(../fonts/KHNPHDotfR?#iefix) format('embedded-opentype'),
         url(../fonts/KHNPHDotfR.woff2) format('woff2'),
         url(../fonts/KHNPHDRegular.woff) format('woff'),
         url(../fonts/KHNPHDotfR.ttf) format('truetype');
}
@font-face {
    font-family: 'KHNPHDotfB';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/KHNPHDotfB.eot);
    src: url(../fonts/KHNPHDotfB?#iefix) format('embedded-opentype'),
         url(../fonts/KHNPHDotfB.woff2) format('woff2'),
         url(../fonts/KHNPHDBold.woff) format('woff'),
         url(../fonts/KHNPHDotfB.ttf) format('truetype');
}
@font-face {
    font-family: 'KHNPHUotfR';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KHNPHUotfR.eot);
    src: url(../fonts/KHNPHUotfR?#iefix) format('embedded-opentype'),
         url(../fonts/KHNPHUotfR.woff2) format('woff2'),
         url(../fonts/KHNPHURegular.woff) format('woff'),
         url(../fonts/KHNPHUotfR.ttf) format('truetype');
}